.holder {
  display: block;
  margin: 0 auto;
  height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;

  &.mobile {
    max-width: 480px;
  }

  &.tablet {
    max-width: 768px;
  }

  &.desktop {
    max-width: none;
  }

  &.loading {
    opacity: 1;
  }
}

:global {
  .ios {
    :local {
      .holder {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}

.iframe {
  display: block;
  height: 100% !important;
  width: 100% !important;
  border: 0;
  margin: 0;
  padding: 0;
}
